{% extends 'exchange_rates/layout.html' %}
{% load i18n %}
{% load static %}

<!-- meta description -->
{% block head %}
  {% if language_code == 'ar' %}
    <meta name="description" content="{{ meta_details.index_ar }}">
  {% elif language_code == 'en' %}
    <meta name="description" content="{{ meta_details.index }}">
  {% endif %}
{% endblock %}
<!-- end meta description -->



{% block body %}
    <script src="{% static 'exchange_rates/js/curriencies.js' %}"></script>

    <div class="content" id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="section-title-cont">
              <h1 style="color: #536da5 !important">
                 {% trans "أسعار الصرف في السوق الموازية" %}
              </h1>
            </div>
            <table class="table table-hover local-cur">
              <thead>
                <tr>
                  <th>
                    <span><i class="fa fa-search"></i></span>
                    <input
                      name="curSearch"
                      id="curSearch"
                      class="currencies_curSearch"
                      placeholder="{% trans 'عملة ' %}"
                    />
                  </th>
                  <td></td>
                  <td>{% trans "شراء" %}</td>
                  <td>{% trans "مبيع" %}</td>
                  <td>{% trans "الفرق" %}</td>
                </tr>
              </thead>
              <tbody id="currencies_tbody_data">

                {% if language_code == 'ar' %}
                    <script>                       
                        language_type_now = 'arabic'   
                        getAllCurrencies("arabic") 
                    </script>
                {% elif language_code == 'en' %}
                    <script>   
                      language_type_now = 'english'
                      getAllCurrencies("english") 
                    </script>
                {% endif %}



              </tbody>
            </table>
          </div>
          {% if language_code == 'ar' %}
            <div class="col-md-4">
              <div class="panel panel-default converter">
                <div class="panel-heading">محول العملات</div>
                <div class="panel-heading sell_buy">
                  <div class="sell-input">
                    <label for="sell_radio">
                      <input
                        id="sell_radio"
                        value="sell"
                        name="sell_buy_radio"
                        type="radio"
                      />
                      شراء
                    </label>
                  </div>
                  <div class="buy-input">
                    <label for="buy_radio">
                      <input
                        id="buy_radio"
                        value="buy"
                        name="sell_buy_radio"
                        checked="checked"
                        type="radio"
                      />
                      مبيع
                    </label>
                  </div>
                </div>
                <div class="panel-body">
                  <input
                    type="number"
                    id="f_amount"
                    class="result1 form-control"
                    autocomplete="off"
                    placeholder="المبلغ هنا ..."
                  />
                  <select
                    name="cur2"
                    id="from"
                    class="form-control cur-change"
                    tabindex="1"
                  >
                    <option value="USD">دولار أمريكي</option>
                    <option value="EUR">يورو</option>
                    <option value="TRY">ليرة تركية</option>
                    <option value="SAR">ريال سعودي</option>
                    <option value="AED">درهم إماراتي</option>
                    <option value="LYD">دينار ليبي</option>
                    <option value="JOD">دينار أردني</option>
                    <option value="KWD">دينار كويتي</option>
                    <option value="GBP">جنيه استرليني</option>
                    <option value="QAR">ريال قطري</option>
                    <option value="OMR">ريال عماني</option>
                    <option value="BHD">دينار بحريني</option>
                    <option value="CAD">دولار كندي</option>
                    <option value="SEK">كرون سويدي</option>
                    <option value="NOK">كرون نرويجي</option>
                    <option value="DKK">كرون دينماركي</option>
                    <option value="SYP">ليرة سورية</option>
                    <option value="DZD">دينار جزائري</option>
                    <option value="MAD">درهم مغربي</option>
                    <option value="TND">دينار تونسي</option>
                    <option value="RUB">روبل روسي</option>
                    <option value="MYR">رينغيت ماليزي</option>
                    <option value="BRL">ريال برازيلي</option>
                    <option value="NZD">دولار نيوزيلاندي</option>
                    <option value="CHF">فرنك سويسري</option>
                    <option value="AUD">دولار أسترالي</option>
                    <option value="ZAR">راند جنوب أفريقي</option>
                    <option value="IQD">دينار عراقي</option>
                    <option value="IRR">ريال إيراني</option>
                    <option value="SGD">دولار سينغافوري</option>
                    <option value="EGP">جنيه مصري</option>
                  </select>
                  <input
                    type="number"
                    class="result2 resultval2 form-control"
                    id="t_amount"
                    placeholder="المبلغ هنا  ..."
                  />
                  <select
                    name="cur2"
                    id="to"
                    class="form-control cur-change"
                    tabindex="1"
                  >
                    <option selected value="EGP">جنيه مصري</option>
                    <option value="USD">دولار أمريكي</option>
                    <option value="EUR">يورو</option>
                    <option value="TRY">ليرة تركية</option>
                    <option value="SAR">ريال سعودي</option>
                    <option value="AED">درهم إماراتي</option>
                    <option value="LYD">دينار ليبي</option>
                    <option value="JOD">دينار أردني</option>
                    <option value="KWD">دينار كويتي</option>
                    <option value="GBP">جنيه استرليني</option>
                    <option value="QAR">ريال قطري</option>
                    <option value="OMR">ريال عماني</option>
                    <option value="BHD">دينار بحريني</option>
                    <option value="CAD">دولار كندي</option>
                    <option value="SEK">كرون سويدي</option>
                    <option value="NOK">كرون نرويجي</option>
                    <option value="DKK">كرون دينماركي</option>
                    <option value="SYP">ليرة سورية</option>
                    <option value="DZD">دينار جزائري</option>
                    <option value="MAD">درهم مغربي</option>
                    <option value="TND">دينار تونسي</option>
                    <option value="RUB">روبل روسي</option>
                    <option value="MYR">رينغيت ماليزي</option>
                    <option value="BRL">ريال برازيلي</option>
                    <option value="NZD">دولار نيوزيلاندي</option>
                    <option value="CHF">فرنك سويسري</option>
                    <option value="AUD">دولار أسترالي</option>
                    <option value="ZAR">راند جنوب أفريقي</option>
                    <option value="IQD">دينار عراقي</option>
                    <option value="IRR">ريال إيراني</option>
                    <option value="SGD">دولار سينغافوري</option>
                  </select>
                </div>
              </div>
              <!-- <div class="space-ilan">
                <div class="widget-content">
                  <div class="widget-title">
                    <h3>أخبار متعلقة</h3>
                  </div>
                  <ul class="last-news"></ul>
                </div>
                <div style="clear: both"></div>
                <div style="clear: both"></div>
              </div> -->
            </div>

          {% elif language_code == 'en' %}
            <div class="col-md-4">
              <div class="panel panel-default converter">
                <div class="panel-heading">Currency Converter</div>
                <div class="panel-heading sell_buy">
                  <div class="sell-input">
                    <label for="sell_radio">
                      <input
                        id="sell_radio"
                        value="sell"
                        name="sell_buy_radio"
                        type="radio"
                      />
                      Buy
                    </label>
                  </div>
                  <div class="buy-input">
                    <label for="buy_radio">
                      <input
                        id="buy_radio"
                        value="buy"
                        name="sell_buy_radio"
                        checked="checked"
                        type="radio"
                      />
                      Sell
                    </label>
                  </div>
                </div>
                <div class="panel-body">
                  <input
                    type="number"
                    id="f_amount"
                    class="result1 form-control"
                    autocomplete="off"
                    placeholder="Amount here ..."
                  />
                  <select
                    name="cur2"
                    id="from"
                    class="form-control cur-change"
                    tabindex="1"
                  >
                    <option value="USD">US Dollar</option>
                    <option value="EUR">Euro</option>
                    <option value="TRY">Turkish Lira</option>
                    <option value="SAR">Saudi Riyal</option>
                    <option value="AED">Emirate Dirham</option>
                    <option value="LYD">Libyan Dinar</option>
                    <option value="JOD">Jordanian Dinar</option>
                    <option value="KWD">Kuwaiti Dinar</option>
                    <option value="GBP">British Pound</option>
                    <option value="QAR">Qatari Riyal</option>
                    <option value="OMR">Omani Riyal</option>
                    <option value="BHD">Bahraini Dinar</option>
                    <option value="CAD">Canadian Dollar</option>
                    <option value="SEK">Swedish Krona</option>
                    <option value="NOK">Norwegian Krone</option>
                    <option value="DKK">Danish Krone</option>
                    <option value="SYP">Syrian Pound</option>
                    <option value="DZD">Algerian Dinar</option>
                    <option value="MAD">Moroccan Dirham</option>
                    <option value="TND">Tunisian Dinar</option>
                    <option value="RUB">Russian Ruble</option>
                    <option value="MYR">Malaysian Ringgit</option>
                    <option value="BRL">Brazilian Real</option>
                    <option value="NZD">New Zealand Dollar</option>
                    <option value="CHF">Swiss Franc</option>
                    <option value="AUD">Australian Dollar</option>
                    <option value="ZAR">South African Rand</option>
                    <option value="IQD">Iraqi Dinar</option>
                    <option value="IRR">Iranian Rial</option>
                    <option value="SGD">Singapore Dollar</option>
                    <option value="EGP">Egyptian Pound</option>
                  </select>
                  <input
                    type="number"
                    class="result2 resultval2 form-control"
                    id="t_amount"
                    placeholder="Amount here  ..."
                  />
                  <select name="cur2" id="to" class="form-control cur-change" tabindex="1">
                    <option selected value="EGP">Egyptian Pound</option>
                    <option value="USD">US Dollar</option>
                    <option value="EUR">Euro</option>
                    <option value="TRY">Turkish Lira</option>
                    <option value="SAR">Saudi Riyal</option>
                    <option value="AED">Emirate Dirham</option>
                    <option value="LYD">Libyan Dinar</option>
                    <option value="JOD">Jordanian Dinar</option>
                    <option value="KWD">Kuwaiti Dinar</option>
                    <option value="GBP">British Pound</option>
                    <option value="QAR">Qatari Riyal</option>
                    <option value="OMR">Omani Riyal</option>
                    <option value="BHD">Bahraini Dinar</option>
                    <option value="CAD">Canadian Dollar</option>
                    <option value="SEK">Swedish Krona</option>
                    <option value="NOK">Norwegian Krone</option>
                    <option value="DKK">Danish Krone</option>
                    <option value="SYP">Syrian Pound</option>
                    <option value="DZD">Algerian Dinar</option>
                    <option value="MAD">Moroccan Dirham</option>
                    <option value="TND">Tunisian Dinar</option>
                    <option value="RUB">Russian Ruble</option>
                    <option value="MYR">Malaysian Ringgit</option>
                    <option value="BRL">Brazilian Real</option>
                    <option value="NZD">New Zealand Dollar</option>
                    <option value="CHF">Swiss Franc</option>
                    <option value="AUD">Australian Dollar</option>
                    <option value="ZAR">South African Rand</option>
                    <option value="IQD">Iraqi Dinar</option>
                    <option value="IRR">Iranian Rial</option>
                    <option value="SGD">Singapore Dollar</option>
                  </select>
                </div>
              </div>
              <!-- <div class="space-ilan">
                <div style="clear: both"></div>
                <div style="clear: both"></div>
              </div> -->
            </div>

          {% endif %} 






        </div>
      </div>




    </div>




{% endblock %}



    


